
<% clientId = @commande.client_id %>
<% profileId = @commande.profile_id %>

<div class="cadre">

    <span>Client </span> 
    <span class="doc-important"> <%= Client.find(clientId).full_name %> </span> <br><br>
    courriel: <span class="doc-important"> <%= Client.find(clientId).mail %> </span> <br>
    téléphone: <span class="doc-important"> <%= Client.find(clientId).tel %> </span> 
    <br>

    <span>Evénement</span> 
    <span class="doc-important"> <%= @commande.info_evenement %> </span> <br>
    <br>

    <span>Servi par </span> 
    <span class="doc-important"> <%= Profile.find(profileId).full_name %> </span> <br>
    <br>

    <span>Statut commande </span> 
    <span class="doc-important"> <%= @commande.statutarticles %> </span> <br>
    <br>



</div>   
