<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body bloc-record">
    <div class="input-group mb-1">
      <%= form.label :prenom, class:"input-group-text label-with-format" %>
      <%= form.text_field :prenom, class:"form-control field-with-format" %>
    </div>
    <div class="input-group mb-1">
      <%= form.label :nom, class:"input-group-text label-with-format" %>
      <%= form.text_field :nom, class:"form-control field-with-format" %>
    </div>

    <div class="input-group mb-1">
      <%= form.label :image1, class:"input-group-text label-with-format" %>
      <%= form.file_field :image1, class:"form-control form-control-sm" %>
    </div>
    
    <div class="text-end mt-2">
      <%= button_tag( :class => "btn btn-validate") do %>
        <i class="fa-regular fa-thumbs-up fa-bounce"></i>
      <% end %>
    </div>
  </div>
<% end %>
