<div id="<%= dom_id profile %>">
  <div class="bloc-record">
    <div class="row align-items-center">
      <div class="col-3 m-0 p-2">
        <%= image_tag(profile.default_image, class:"img-fluid rounded-start image-produit-sized")  %> 
      </div> 
      <div class="col-7 m-0 p-0 text-center">
        <%= link_to profile.full_name, profile_path(profile.id), class: "link-record-large" %>
      </div> 
      <div class="col-2 m-0 p-1 text-end">
        <%= link_to '', profile_path(profile), 
            class:"fa-regular fa-folder-open btn btn-sm btn-success mb-1" %> 
        <%= button_to "", edit_profile_path(profile), 
            class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary mb-1", method: :post %> 
        <%= button_to '', profile_path(profile), 
            class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete %> 
      </div>
    </div>
  </div>

</div>
