
<% if current_user.admin? %>

    <div class="bloc-entete-model">
      <div class="card card-header entete-index">
        <div class="row m-0 p-0">
          <div class="col-11">
            <strong>PROFILES</strong> 
          </div>
          <div class="col-1 text-end m-0 p-0">
            <span class="badge rounded-pill counter-model-dashboard"><%= Profile.count %></span>
          </div>
        </div>
      </div> 
      
    </div>

    <div class="">
      <%= turbo_frame_tag :modal %>
    </div>
      
    <div class="list-records-item">
      <div id="profiles">
        <%= render @profiles %>
      </div>
    </div> 

      <%= link_to "Nouveau", new_profile_path, data:{turbo_frame: "modal"}, 
                class:"btn btn-sm btn-warning m-1 p-1 fw-bold" %>

<% else %>
    <%= render "accueil_admin/demandeConnexion" %>

<% end %>