

<%= form_with(model: @meeting) do |form| %>
  <% if @meeting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
        <% @meeting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 
  <div class="card-body bloc-record">
    <div class="input-group mb-1">
      <%= form.label :nom, class:"input-group-text label-with-format" %>
      <%= form.text_field :name, class:"form-control field-with-format" %>
    </div>

   <% if @commandeId.present? %>
    <div class="input-group mb-1">
      <%= form.label :commande, class:"input-group-text label-with-format" %>
      <%= form.select :commande_id, Commande.all.collect { |c| [ c.nom, c.id ]}, 
            {class: 'form-control', include_blank: true, selected: @commandeId} %>
    </div>
  <% end %>

    
    <% if params[:clientId].present? %>
      <div class="input-group mb-1">
        <%= form.label :client, class:"input-group-text label-with-format" %>
        <%= form.select :client_id, Client.all.collect { |c| [ c.nom, c.id ]}, 
              {class: 'form-control', include_blank: true, selected: params[:clientId]} %>
      </div>
    <% end %>


    <div class="input-group mb-1">
      <%= form.label :début, class:"input-group-text label-with-format" %>
      <%= form.datetime_field :start_time, id: 'start_time', required: true, class:"form-control field-with-format" %>

      <%= form.label :fin, class:"input-group-text label-with-format" %>
      <%= form.datetime_field :end_time,  id: 'end_time', class:"form-control field-with-format" %>
   </div>

      <%# apres la saisie de debut meeting passer fin meeting au même jour +1h %>
      <%= render "shared/periodeMeeting" %>

    <div class="input-group mb-1">
      <%= form.label :lieu, class:"input-group-text label-with-format" %>
      <%= form.text_field :lieu, class:"form-control field-with-format" %>
    </div>
    
    <div class="text-end mt-2">
      <%= button_tag( :class => "btn btn-validate") do %>
        <i class="fa-regular fa-thumbs-up fa-bounce"></i>
      <% end %>
    </div>
 

<% end %>
