<%# if user_signed_in? %>

    <div class="bloc-entete-model">
      <div class="card card-header entete-index">
        <div class="row m-0 p-0">
          <div class="col-11">
            <strong>CALENDRIER</strong> 
          </div>
          <div class="col-1 text-end m-0 p-0">
            <span class="badge rounded-pill counter-model-dashboard"><%= Meeting.count %></span>
          </div>
        </div>
      </div> 
      
    </div>

    <div class="text-center"> 

      <%= month_calendar(events: @meetings_periode) do |date, meetings| %>
        <div class="day">
          <%= date.day %>
        </div>

        <% meetings.each do |meeting| %>
          <div class="card-header">
            <div class="card-title">
              <%= link_to meeting.name, meeting, class:"text-primary" %>
            </div>
            <div class="card-body"> 
              <p class="card-text">
                <% if meeting.start_time.present? %>
                  De: <%= meeting.start_time.strftime('%I:%M %p') %>
                <% end %>
              </p>
              <p class="card-text">
               <% if meeting.end_time.present? %>
                à: <%= meeting.end_time.strftime('%I:%M %p') if meeting.end_time.present? %>
               <% end %>
              </p>
            </div>
        <% end %>
      <% end %>

      <hr>
      <div class="text-end">
       <%= link_to "S'abonner au calendrier", meetings_url(protocol: :webcal, format: :ics), 
        class:"btn btn-sm btn-primary" %>
      </div>
     <br> <br> <br>

    </div>

      <%#= render "tempo" %>
    
      <%= render "meetings/footer" %>
   
    
  <%# else %>
    <%= render "accueil_admin/demandeConnexion" %>

<%# end %>



