
<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field(:commande_id, value: @commandeId) %>
  <%= form.hidden_field(:produit_id, value: @produitId) %>


      <div data-controller="totalupdate">
      
          <%= form.number_field :prixlocation, name:'prixlocationInitial', value: 1 %> <br>
          <%= form.number_field :prixvente, name:'prixVenteInitial', value: 2 %>

          <hr>  

          
          <%= form.label :type %>
          <%= form.select :locvente,  @typelocvente, {include_blank: true}, 
                {name: "locvente",  data: { action: "change->totalupdate#setInitialPrix"}} %> <br>

          <%= form.label :quantite %>
          <%= form.number_field :quantite, { name: "quantite", data: { action: "change->totalupdate#updateTotal" } } %> <br>


         <%#= form.number_field :prixtest, name: "prixtest", data: { action: "change->totalupdate#updateTotal" } %>




          <%= form.label :prix %>
          <%= form.number_field :prix, { name: "prix", data: { action: "change->totalupdate#updateTotal" } } %> <br>


          <%= form.label :total %>
          <%= form.number_field :total, { name: "total", data: { action: "change->totalupdate#updateTotal" } } %>

        

   </div>

 
 <% end %>


