
<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field(:commande_id, value: @commandeId) %>
  <%= form.hidden_field(:produit_id, value: @produitId) %>

   <% if @produitId.present? %> 

    <div class="bloc-entete-model card-body p-1">
      <div class="row p-0 m-0 justify-content-center">
        <div class="col-md-5 cadre-interieur">
          <%= render "selection_produit/produitLie" %> <br>
        </div>

        <div class="col-md-5 cadre-interieur"> 

          <div data-controller="totalupdate">
          
            <%= form.hidden_field :prixlocation, name:'prixlocationInitial', value: @valPrixLocationInitial %> <br>
            <%= form.hidden_field :prixvente, name:'prixVenteInitial', value: @valPrixInitial %>
            <%= form.hidden_field :prixcaution, name:'prixCautionInitial', value: @valPrixCautionInitial %>

            <div class="input-group input-group-sm mb-2 justify-content-center">
              <%= form.label :type, class:"input-group-text bg-primary text-light label-sized" %>
           
              <%= form.select :locvente,  @typelocvente, {include_blank: true}, { 
                  class:"form-control text-center input-sized",
                  data: { action: "change->totalupdate#setInitialPrix", 
                  target: "totalupdate.locvente", totalupdate_target: "locvente" }  } %>

            </div>

            <div class="input-group input-group-sm mb-2 justify-content-center"  data-totalupdate-target="containerLongueduree">
              <div class="form-check form-switch">
                <div class="custom-control custom-switch">

                  <%= form.check_box :longueduree, {
                    id: "longueduree",
                    class: "form-check-input",
                    data: { 
                      action: "change->totalupdate#setLongueDuree",
                      target: "totalupdate.longueduree",
                      totalupdate_target: "longueduree"
                    } 
                  } %>

                  <label class="text-dark" for="longueduree">longue durée</label>
                </div>
              </div>
            </div>

            <div class="input-group input-group-sm mb-2 justify-content-center">
              <%= form.label :quantite, class:"input-group-text bg-primary text-light label-sized" %>
              <%= form.number_field :quantite, { 
                  class:"form-control text-center input-sized",
                  data: { action: "change->totalupdate#updateTotal", 
                  target: "totalupdate.quantite", totalupdate_target: "quantite" } } %> <br>
            </div>

            <div class="input-group input-group-sm mb-2 justify-content-center">
              <%= form.label :prix, class:"input-group-text bg-secondary text-light label-sized" %>
              <%= form.number_field :prix, { 
                 class:"form-control text-center input-sized",
                 data: { action: "change->totalupdate#updateTotal", 
                         target: "totalupdate.prix",  totalupdate_target: "prix" } } %> <br>

            <div class="input-group input-group-sm mb-2 justify-content-center" data-totalupdate-target="containerCaution">
              <%= form.label :caution, class:"input-group-text bg-secondary text-light label-sized" %>
              <%= form.number_field :caution,  { 
                  class:"form-control bg-secondary text-white text-center input-sized",
                  data: { action: "change->totalupdate#updateTotal", target: "totalupdate.caution", totalupdate_target: "caution" } } %> <br>

            </div>


            <div class="input-group input-group-sm mb-2 justify-content-center">
              <%= form.label :total, class:"input-group-text bg-dark text-light label-sized" %>

              <%= form.number_field :total, { 
                  class: "form-control bg-dark text-white text-center input-sized", 
                  data: { action: "change->totalupdate#updateTotal", 
                          target: "totalupdate.total", totalupdate_target: "total" } } %>

            </div>

            
            <div class="input-group input-group-sm mb-2 justify-content-center" data-totalupdate-target="containerTotalCaution">
              <%= form.label :totalcaution, class:"input-group-text bg-dark text-light label-sized" %>

              <%= form.number_field :totalcaution, { 
                  class: "form-control bg-dark text-white text-center input-sized", 
                  data: { action: "change->totalupdate#updateTotal", 
                          target: "totalupdate.totalcaution", totalupdate_target: "totalcaution" } } %>   
            </div>

          
          </div>
        </div>
      </div>
    </div>

    <div class="text-center text-bottom p-2 me-3">
      <%= link_to 'Annuler', new_article_path(commandeId: @commandeId), class:"btn btn-outline-danger btn-sm" %>
      <%= form.submit "Créer", class: 'btn btn-sm btn-success' %>
      <%#= form.submit onclick: "this.form.submit();" %>
    </div>

  <% end %>

 <% end %>
