
<% @commandeId = params[:commandeId] %>
<% @produitId = params[:produitId] %>
<% @articleId = params[:articleId] %>
<% @clientId = Commande.find(@commandeId).client_id if @commandeId.present? %>

<div class="bloc-entete-model">
  <div class="card card-header entete-index m-0 p-1">
    <div class="col text-center fw-bold m-0 p-0">
      EDITER ARTICLE
    </div>
  </div>
</div>

<div class="bloc-record">
  <%= render "form", article: @article %>

  <div class="bloc-entete-model">
    <div class="card card-header entete-index">
      <strong>Sous-articles</strong> 
    </div>
  </div>

  <%= render "sousarticles/sousarticlesLies" %>   

  <br>

  <%= render "articles/verifEnsemble" %> 

  <br>

  <div class="fixed-bottom footer-index text-center bg-dark container">
    <div class="row justify-content-evenly justify-content-center">
      <div class="col-1 p-1 text-center">
        <%= link_to "", commande_path(@commandeId), class:"fa-solid fa-rotate-left btn btn-sm btn-secondary" %> 
      </div>

      <div class="col-8 p-1 text-center">
        <span class="badge text-bg-secondary p-1 small"> <%= Commande.find(@commandeId).texte_record if @commandeId.present? %> </span> 
        <span class="badge text-bg-secondary p-1 small"> <%= Client.find(@clientId).full_name if @clientId.present? %> </span> 
      </div>

      <div class="col-3 text-end">
        <%= link_to "", selection_produit_path(commandeId: @commandeId), 
              class:"fa-solid fa-square-plus btn btn-sm btn-primary",
              title: "Nouvel article" %> 
        <%= link_to "", commande_path(@commandeId), class:"fa-solid fa-square-check btn btn-sm btn-success" %> 
      </div>
    </div>
  </div>
</div>
