<% @categorie = params[:categorieVal]%>
<% @couleur = params[:couleurVal]%>
<% @taille = params[:tailleVal]%>

  <div class="row align-items-center m-1 p-0">
    <div class="col m-0 p-0">
      <select class="form-select small-text" onchange="window.location=this.value">
      <option selected="selected"> <%= @categorie.nil? ? "Catégorie" : @categorie %> </option>
        <% @categories.each do |c| %> 
          <option class="form-select small-text"  
              value="<%= url_for(categorieVal: c, couleurVal: @couleur, tailleVal: @taille) %>"><%= c %>
          </option>
        <% end %>
      </select>
    </div>

    <div class="col m-0 p-0">
      <select class="form-select small-text" onchange="window.location=this.value">
      <option selected="selected"> <%= @couleur.nil? ? "Couleur" : @couleur %> </option>
        <% @couleurs.each do |c| %> 
          <option class="form-select small-text" value="
            <%= url_for(couleurVal: c, categorieVal: @categorie, tailleVal: @taille) %>"> <%= c %>
          </option>
        <% end %>
      </select>
    </div>

    <div class="col m-0 p-0">
      <select class="form-select small-text" onchange="window.location=this.value">
      <option selected="selected"> <%= @taille.nil? ? "Taille" : @taille %> </option>
        <% @tailles.each do |c| %> 
          <option class="form-select small-text" value="
            <%= url_for(tailleVal: c, categorieVal: @categorie, couleurVal: @couleur) %>"> <%= c %>
          </option>
        <% end %>
      </select>
    </div>

    <div class="col m-0 p-0 text-end">
      <%= link_to "Nouveau", new_produit_path, data:{turbo_frame: "modal"}, 
      class:" btn btn-sm btn-warning" %>
    </div>
  </div>  



