<%= form_with(model: produit) do |form| %>
  <% if produit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(produit.errors.count, "error") %> prohibited this produit from being saved:</h2>

      <ul>
        <% produit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card-body bloc-record">
  <div class="input-group mb-1">
    <%= form.label :nom, class:"input-group-text label-with-format" %>
    <%= form.text_field :nom, required: true, class:"form-control field-with-format" %>
  </div>



  <div class="input-group mb-1">
    <%#= form.label :handle, class:"input-group-text label-with-format" %>
    <%= form.hidden_field :handle, value: @handle, class:"form-control field-with-format" %>
  </div>

  <div class="input-group mb-1">
    <%= form.label :ref_frs, class:"input-group-text label-with-format" %>
    <%= form.text_field :reffrs, class:"form-control field-with-format" %>
  </div>


    <div class="input-group mb-1">
      <%= form.label :nomfrs, class:"input-group-text label-with-format" %>
      <%= form.text_field :nomfrs, class:"form-control field-with-format" %>
    </div>

    <div class="input-group mb-1">
      <%= form.label :dateachat, class:"input-group-text label-with-format" %>
      <%= form.date_field :dateachat, class:"form-control field-with-format" %>
    </div>

    <div class="input-group mb-1">
      <%= form.label :prixachat, class:"input-group-text label-with-format" %>
      <%= form.text_field :prixachat, class:"form-control field-with-format" %>
    </div>


  <div class="input-group mb-1">
    <%= form.label :quantite, class:"input-group-text label-with-format" %>
    <%= form.number_field :quantite, required: true, class:"form-control field-with-format" %> 
  </div>

  <div class="input-group mb-1">
    <%= form.label :categorie, class:"input-group-text label-with-format" %>
    <%= form.select(:categorie, Produit.categories.keys, {include_blank: true}, 
          class:"form-select field-with-format") %> 

    <%= form.label :type_article, class:"input-group-text label-with-format" %>
    <%= form.select(:typearticle, Produit.typearticles.keys, {include_blank: true}, 
          class:"form-select field-with-format") %> 
  </div>

  <div class="input-group mb-1">
    <%= form.label :couleur, class:"input-group-text label-with-format" %>
    <%= form.select(:couleur, Produit.couleurs.keys, {include_blank: true}, 
          class:"form-select field-with-format") %> 

    <%= form.label :taille, class:"input-group-text label-with-format" %>
    <%= form.select(:taille,  Produit.tailles.keys, {include_blank: true}, 
          class:"form-select field-with-format") %> 
  </div>


  <div class="input-group mb-1">
    <%= form.label :prix, class:"input-group-text label-with-format" %>
    <%= form.text_field :prix, class:"form-control field-with-format" %>

    <%= form.label :caution, class:"input-group-text label-with-format" %>
    <%= form.number_field :caution, class:"form-control field-with-format" %>
  </div>

  <div class="input-group mb-1">
    <%= form.label :description, class:"input-group-text label-with-format" %>
    <%= form.text_area :description, class:"form-control field-with-format" %>
  </div>


  <div class="input-group mb-1">
    <%= form.label :image1, class:"input-group-text label-with-format" %>
    <%= form.file_field :image1, class:"form-control m-1 p-1" %>
  </div>

  <div class="form-check form-switch">
    <div class="custom-control custom-switch">
      <%= form.check_box :vitrine, class: "form-check-input", id: "siteVitrine" %>
      <label class="text-dark" for="siteVitrine">site Vitrine</label>
    </div>
  </div>

  <div class="form-check form-switch">
    <div class="custom-control custom-switch">
      <%= form.check_box :eshop, class: "form-check-input", id: "siteEshop" %>
      <label class="text-dark" for="siteEshop">site Eshop</label>
    </div>
  </div>

    <%# a crééer dans db pour eshop %>


  <div class="float-end mt-2 mb-4">
    <%= form.submit "Valider", class: "btn btn-primary btn-sm" %>
  </div><br> <br>

</div>
<% end %>

