
<div class="bloc-record">
  <div class="cadre-interieur">
    <strong> STOCK </strong> <br>
    initial : <%= stockInitial(@produitId) %> /
    restant : <%= restant(@produitId)  %> <br>
    nb locations : <%= totLocations(@produitId) %> 
    nb ventes : <%= totVentes(@produitId)%> <br>
    loc terminées: <%= louesTermines(@produitId) %> /
    loc à venir: <%= louesAvenir(@produitId) %> <br>
  </div>
</div>

<div class="bloc-record p-2">
  <div class="card-body text-dark ">

    <%= form_tag url_for, method: :get do %>

      <div class="input-group mb-1">
        <% first_day = Date.current.beginning_of_month %>
        <% last_day = Date.current.end_of_month %>

        <%= label_tag :début, "début", class:"input-group-text label-with-format centered" %>
        <%= date_field_tag :debut, params[:debut] || first_day, class:"form-control centered" %>

        <%= label_tag :fin, "fin", class:"input-group-text label-with-format centered" %>
        <%= date_field_tag :fin, params[:fin] || last_day, class:"form-control centered" %>

        <%= link_to "Effacer", url_for(), class:"btn btn-sm btn-outline-danger rounded mx-1" %> 

        <%= submit_tag "Go", class:"btn btn-sm btn-primary rounded mx-1" %>
      </div>

    <% end %>

    <% if @datedebut.present? && @datefin.present? %>
      <div class="fw-bold">
        filtre actif: <%= @datedebut.strftime("%d/%m/%y")  %> - <%= @datefin.strftime("%d/%m/%y") %>
      </div>
    <% end %>
  </div>
</div>

<div class="bloc-record text-dark">
  <div class="row my-2">
    <div class="col-4 m-0 p-0">
      <%= render "charts/chartPieProduit" %>
    </div>
    <div class="col-4 m-0 p-0">
      <%= render "charts/chartBarProduit" %>
    </div>
    <div class="col-4 m-0 p-0">
      <%= render "charts/chartLineProduit" %>
    </div>
  </div>
</div>

<hr>  