
<div class="bloc-record">
  <div class="cadre-interieur">

    <strong> STOCK </strong> <br>
    <% @produitId = params[:id]%>
    <% locations = Article.produit_courant(@produitId).articlesLoues.compte_articles %> 
    <% ventes = Article.produit_courant(@produitId).articlesVendus.compte_articles %> 
  
    <% louesTermines = Commande.termine.joins(:articles).merge(Article.produit_courant(@produitId).articlesLoues).sum(:quantite) %> 
    <% louesAvenir = Commande.a_venir.joins(:articles).merge(Article.produit_courant(@produitId).articlesLoues).sum(:quantite) %> 

    initial : <%= initial = Produit.find(@produitId).quantite %> /
    restant : <%= initial.to_i - louesAvenir.to_i - ventes.to_i %> <br>
  
    nb locations : <%= locations %> 
    nb ventes : <%= ventes %> <br>
  
    loc terminées: <%= louesTermines  %> /
    loc à venir: <%= louesAvenir %> <br>

  </div>
</div>

<div class="bloc-record p-2">
  <div class="card-body text-dark ">

    <%= form_tag url_for, method: :get do %>

      <div class="input-group mb-1">
        <%= label_tag :début, "début", class:"input-group-text label-with-format centered" %>
        <%= date_field_tag :debut, params[:debut], class:"form-control field-with-format" %>

        <%= label_tag :fin, "fin", class:"input-group-text label-with-format centered" %>
        <%= date_field_tag :fin, params[:fin], class:"form-control field-with-format" %>

        <%= link_to "Effacer", url_for(), class:"btn btn-sm btn-outline-danger rounded mx-1" %> 

        <%= submit_tag "Go", class:"btn btn-sm btn-primary rounded mx-1" %>
      </div>

    <% end %>

    <% if @datedebut.present? && @datefin.present? %>
      <div class="fw-bold">
        filtre actif: <%= @datedebut.strftime("%d/%m/%y")  %> - <%= @datefin.strftime("%d/%m/%y") %>
      </div>
    <% end %>
  </div>
</div>

<div class="bloc-record text-dark">
  <div class="row my-2">
    <div class="col-4 m-0 p-0">
      <%= render "charts/chartPieProduit" %>
    </div>
    <div class="col-4 m-0 p-0">
      <%= render "charts/chartBarProduit" %>
    </div>
    <div class="col-4 m-0 p-0">
      <%= render "charts/chartLineProduit" %>
    </div>
  </div>
</div>

<hr>  