
<%# tempo poru test html %>
<%# @produit = Produit.find(29)%>

<table class="table-etiquette">
  <thead> 
    <tr>
      <th class="th-etiquette shadowed" colspan="2">
        <%= image_tag(@produit.default_image, class:"img-etiquette") %> 
      </th>
    </tr>
  </thead>

  <tbody> 
    <tr>

      <td class="td-etiquette middled shadowed" colspan="1">
        <h4 class="bolded"> <%= @produit.nom %> </h4> 
      
        <span>Location : <%= number_to_currency(@produit.prixlocation, locale: :fr, precision: 0) %></span> /
        <span>Vente : <%= number_to_currency(@produit.prix, locale: :fr, precision: 0) %></span>
       
        <div class="td-etiquette middled centered">  
          Taille(s) :
          <span class="taille-active"> <%= @produit.taille %></span>
          <% if taillesAutresProduits.present? %> <%# valeur depuis helper%>
            <span class="taille-alternative"> 
              <% taillesAutresProduits.each do |produit| %>
                  <%= produit.taille %>
              <% end %>
            </span>
          <% end %>
        </div>
      </td>

      <td class="td-etiquette middled centered shadowed">
        <%= image_tag(@produit.qr_code, class:"img-qr-etiquette") if @produit.qr_code.attached? %>
      </td>

    </tr>
    
  </tbody>
  
</table>
