<%= form_with(model: label) do |form| %>
  <% if label.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(label.errors.count, "error") %> prohibited this label from being saved:</h2>

      <ul>
        <% label.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="card-body bloc-record">
    <div class="input-group mb-1">
      <%= form.label :principale, class:"input-group-text label-with-format" %>
      <%= form.text_area :principale, class:"form-control field-with-format" %>
    </div>
    <div class="input-group mb-1">
      <%= form.label :soiree, class:"input-group-text label-with-format" %>
      <%= form.text_area :soiree, class:"form-control field-with-format" %>
    </div>
    <div class="input-group mb-1">
      <%= form.label :mariee, class:"input-group-text label-with-format" %>
      <%= form.text_area :mariee, class:"form-control field-with-format" %>
    </div>
    <div class="input-group mb-1">
      <%= form.label :homme, class:"input-group-text label-with-format" %>
      <%= form.text_area :homme, class:"form-control field-with-format" %>
    </div>
    <div class="input-group mb-1">
      <%= form.label :accessoire, class:"input-group-text label-with-format" %>
      <%= form.text_area :accessoire, class:"form-control field-with-format" %>
    </div>
    <div class="input-group mb-1">
      <%= form.label :deguisement, class:"input-group-text label-with-format" %>
      <%= form.text_area :deguisement, class:"form-control field-with-format" %>
    </div> 

    <div class="input-group mb-1">
      <%= form.label :info, class:"input-group-text label-with-format" %>
      <%= form.text_area :info, class:"form-control field-with-format" %>
    </div>  
    <div class="input-group mb-1">
      <%= form.label :boutique, class:"input-group-text label-with-format" %>
      <%= form.text_area :boutique, class:"form-control field-with-format" %>
    </div>  
 

    <div class="text-end mt-2">
      <%= button_tag( :class => "btn btn-validate") do %>
        <i class="fa-regular fa-thumbs-up fa-bounce"></i>
      <% end %>
    </div>
  </div>

<% end %>
