<div class="card mb-3 text-bg-dark">
  <div class="card-header bg-black border-light">
    <strong>Paiements</strong> 
  </div>
  <div class="card-body">

    <table class="table table-secondary table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th style="text-align: center;">#</th>
          <th class="text-center">type</th>
          <th class="text-center">montant</th>
          <th colspan=2> Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @paiements.each_with_index do | paiement, i | %>
          <tr>
            <td> <%= i + 1 %> </td>
            <td class="text-center"> <%= paiement.typepaiement %> </td>
            <td class="text-end" > <%= paiement.montant %> </td>
            <td style="width:10px"> 
              <%#= link_to "", edit_paiement_path(paiement, commandeId: paiement.commande_id), 
                class:"fa-regular fa-pen-to-square btn btn-secondary btn-sm" %> 
            
              <%= button_to "", edit_paiement_path(paiement), 
                class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary", method: :post %> 

            </td> 
            <td style="width:10px"> 
              <%= button_to '', paiement, class:"fa-solid fa-trash-can btn btn-danger btn-sm" %>  
              </td> 
          </tr> 
        <% end %>
      </tbody>
      <tfoot class="table-dark fs-bold">
        <tr>
          <td>  
            totaux
          </td>
          <td class="text-center">
            <%= Paiement.commande_courante(@commande).compte_paiements %>
          </td>
          <td class="text-end">
            <%= Paiement.commande_courante(@commande).sum_paiements %>
          </td>
          <td colspan=2>
          </td>
        </tr>  
      </tfoot>
    </table>

    <div data-controller="nouveau", class="mx-auto">
      <div class="position-relative">
        <div class="position-absolute top-0 end-0">
          <div role="button" data-action="click->nouveau#openNouveau" data-nouveau-target="openNouveau", 
               class="btn btn-sm btn-success", style="inline;">
            Nouveau paiement
          </div>
          <div role="button" data-action="click->nouveau#closeNouveau" data-nouveau-target="closeNouveau", 
               class="btn btn-sm btn-danger", style="inline;">
            Fermer nouveau
          </div>
        </div>
      </div> <br>
      <div id="new_paiement">
        <div data-nouveau-target="nouveauContent">
          <br>
          <%= render partial: "paiements/form", locals: {paiement: Paiement.new} %>
        </div>
      </div>
    </div>
 



</div>

