
 <table class="table table-secondary table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th style="text-align: center;">#</th>
          <th>Montant</th>
          <th>Quantite</th>
          <th>Client</th>
          <th colspan=3> Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @commandes.each do | commande | %>
            <td> <%= commande.id %> </td>
            <td> <%= commande.montant %> </td>
            <td> <%= commande.client_id %> </td>

            <td> <%= link_to '', commande, class:"fa-solid fa-eye btn btn-primary btn-sm" %>  </td>
            <td> <%= button_to '', commande, class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete, :onclick => "return confirm('Sûr ?')" %>  </td> 
            <td> <%= link_to "", edit_commande_path(commande), class:"fa-regular fa-pen-to-square btn btn-secondary btn-sm" %> </td> 
        </tr> 
        <% end %>
      </tbody>
    </table>