
<div class="row m-0 p-0">
  <div class="col-8 text-start m-0 p-0">
    <% soldePrix = solde_prix(@commande) %>
    <% soldeCaution = solde_caution(@commande) %>

    <% if soldePrix != 0 %>
      <span title="statut prix", class="format-synthese bg-danger">
        <i class="fa-solid fa-euro-sign mx-1"></i> 
        <span class="me-1"><%= number_with_precision(soldePrix, precision: 0) %> </span> 
      </span>
    <% else %>
      <span title="statut prix", class="format-synthese bg-success">
        <i class="fa-solid fa-euro-sign mx-1"></i> 
        <span class="me-1">OK</span>
      </span>
    <% end %>

    <% if soldeCaution != 0 %>
      <span title="statut caution", class="format-synthese bg-danger">
        <i class="fa-solid fa-money-check mx-1"></i>
        <span class="me-1"><%= number_with_precision(soldeCaution, precision: 0) %> </span> 
      </span>
    <% else %>
      <span title="statut caution", class="format-synthese bg-success">
        <i class="fa-solid fa-money-check mx-1"></i>
        <span class="me-1">OK</span>
      </span>
    <% end %>
    
    <% statutCommande = Commande.find(@commande.id).statutarticles %>
    <% if statutCommande == "non-retiré" %>
      <span title="statut non-retiré", class="format-synthese bg-danger ">
        <i class="fa-solid fa-shirt mx-1"></i>
        <span class="me-1"> <%= statutCommande  %> </span> 
      </span>
    <% end %>
    <% if statutCommande == "retiré" %>
      <span title="statut retiré", class="format-synthese bg-warning">
        <i class="fa-solid fa-shirt mx-1"></i>
        <span class="me-1"> <%= statutCommande  %> </span> 
      </span>
    <% end %>
    <% if statutCommande == "rendu" %>
      <span title="statut rendu", class="format-synthese bg-success">
        <i class="fa-solid fa-shirt mx-1"></i>
        <span class="me-1"> <%= statutCommande  %> </span> 
      </span>
    <% end %>
  </div>

  <div class="col-4 text-end m-0 p-0">

     <%= link_to "", new_messagemail_path(commandeId: @commande), 
        title: "Editer", class:"btn btn-sm btn-primary fa-solid fa-file-invoice fw-bold" %>


  </div>

</div>
