<% if user_signed_in? %>


    <div class="bloc-entete-model">
      <div class="card card-header entete-index">
        <div class="row m-0 p-0">
          <div class="col-11 text-center">
            <strong>COMMANDES</strong> 
          </div>
          <div class="col">
            <span class="badge rounded-pill counter-model"><%= Commande.count %></span>
          </div>
        </div>
      </div> 
      
      <div class="bloc-record p-0 mb-1">
        <%= render "search" %>
      </div>
    </div>

  <div class="">
    <%= turbo_frame_tag :modal %>
  </div>
  
  <%= turbo_frame_tag :results, data: {turbo_action: 'advance'} do %>
    <div class="list-records-item">
      <div id="commandes">
      </div>
    </div> <br>

    <%= turbo_frame_tag :pagination, loading: :lazy, 
                        src: commandes_path(format: :turbo_stream,
                        q: params[:q]&.to_unsafe_h) %>
  <% end %>


  <div class="fixed-bottom footer-index text-center bg-dark">
      <div class="row justify-content-evenly">
        <div class="col-4 text-start">
          <%= link_to "", commandes_path, class:"fa-solid fa-rotate-left btn btn-sm btn-secondary" %> 
        </div>
        <div class="col-4 text-center">
          <div class="badge bg-dark">
            <%#== pagy_nav(@pagy) %>
          </div>
        </div>
        <div class="col-4 text-end">
          <%= link_to "", commandes_path(format: :pdf), class:"fa-solid fa-file-export btn btn-sm btn-primary" %> 
        </div>
      </div>
  </div>

<% end %>