
<% if user_signed_in? %>
  <% if current_user.admin? %>


  <div class="bloc-record">
    <h5> Liste des utilisateurs | nb: <%= @users.count %></h5>

    <div class="table-responsive">
      <table  class="table table-striped table-bordered table-hover">  
        <thead class="table-dark">
          <tr>
            <th> # </th>
            <th> email </th>
            <th>dernière connexion</th>
            <th> changer role </th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td> <%= user.id %>    </td>
              <td> <%= user.email %> </td>
              <td> 
                <% depuisDerCo = user.current_sign_in_at %>
                <% if depuisDerCo.present? %>
                  <%= time_ago_in_words(depuisDerCo) %>
                <% end %>
              </td>    
              <td> 
                <%= link_to "Vendeur", toggle_status_vendeur_user_path(user), class:"btn btn-primary", 
                      :onclick => "return confirm('Etes-vous certain de vouloir passer cet utilisateur en Vendeur ?')" %> 
                <%= link_to "Admin", toggle_status_admin_user_path(user), class:"btn btn-secondary", 
                      :onclick => "return confirm('Etes-vous certain de vouloir passer cet utilisateur en Admin ?')" %> 
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

    <hr/>

  <div class="bloc-record">
    <h5> Liste des vendeurs | nb: <%= @vendeurs.count %> </h5>

    <div class="table-responsive">
      <table  class="table table-striped table-bordered table-hover">  
        <thead class="table-dark">
          <tr>
            <th> # </th>
            <th> email </th>
            <th>dernière connexion</th>
            <th> changer role </th>
          </tr>
        </thead>
        <tbody>
          <% @vendeurs.each do |user| %>
            <tr>
              <td> <%= user.id %>    </td>
              <td> <%= user.email %> </td>
              <td> 
                <% depuisDerCo = user.current_sign_in_at %>
                <% if depuisDerCo.present? %>
                  <%= time_ago_in_words(depuisDerCo) %>
                <% end %>
              </td>    
              <td> 
                <%= link_to "User", toggle_status_user_user_path(user), class:"btn btn-secondary", 
                      :onclick => "return confirm('Etes-vous certain de vouloir passer cet utilisateur en User ?')" %> 
                <%= link_to "Admin", toggle_status_admin_user_path(user), class:"btn btn-dark", 
                      :onclick => "return confirm('Etes-vous certain de vouloir passer cet utilisateur en Admin ?')" %> 
              </td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

    <hr/>

  <div class="bloc-record">
    <h5> Liste des admins | nb: <%= @admins.count %></h5>

    <div class="table-responsive">
      <table  class="table table-striped table-bordered table-hover">  
        <thead class="table-dark">
          <tr>
            <th> # </th>
            <th>email </th>
            <th>dernière connexion</th>
            <th>changer rôle</th>
          </tr>
        </thead>

        <tbody>
          <% @admins.each do |user| %>
            <tr>
              <td> <%= user.id %>  </td>
              <td> <%= user.email %> </td>
              <td> 

                <% depuisDerCo = user.current_sign_in_at %>
                <% if depuisDerCo.present? %>
                  <%= time_ago_in_words(depuisDerCo) %>
                <% end %>
              </td>
                      
                <td> 
                  <%= link_to "User", toggle_status_user_user_path(user), class:"btn btn-secondary", 
                      :onclick => "return confirm('Etes-vous certain de vouloir passer cet Admin en User ?')" %> 

                  <%= link_to "Vendeur", toggle_status_vendeur_user_path(user), class:"btn btn-primary", 
                      :onclick => "return confirm('Etes-vous certain de vouloir passer cet Admin en Vendeur ?')" %> 
                </td>
                
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <% else %>
    <%= render "accueil_admin/demandeConnexion" %>

  <% end %>
<% end %>

