<div id="<%= dom_id avoirremb %>">

  <div class="bloc-record">
    <div class="row">
      <div class="col-11">
        <div class="badge-infos">
          <span class="fw-bold"> <%= avoirremb.typeavoirremb %> </span>
          <%= number_to_currency(avoirremb.montant, locale: :fr)  %> 
          <%= avoirremb.created_at.strftime("%d/%m/%y") %>
        </div>
      </div>
      <div class="col-1 text-center m-0 p-0">

        <%= button_to "", edit_avoirremb_path(avoirremb), 
            class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary", method: :post %> 

        <%= button_to '', avoirremb_path(avoirremb), 
            class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete %> 


      </div>
    </div>
  </div>
</div>
