<p style="color: green"><%= notice %></p>

<%= render @avoirremb %>

<div>
  <%= link_to "Edit this avoirremb", edit_avoirremb_path(@avoirremb) %> |
  <%= link_to "Back to avoirrembs", avoirrembs_path %>

  <%= button_to "Destroy this avoirremb", @avoirremb, method: :delete %>
</div>
