<div class="fixed-bottom text-center bg-light border-top">
    <div class="row justify-content-evenly">
        <div class="col text-start">
            <%= link_to "", root_path, class:"fa fa-house btn-footer zoom a1soir-text-colored",
                title: "Accueil" %> 
        </div>
        <div class="col text-center">
            <%= link_to "", root_path, class:"fa-solid fa-cart-shopping btn-footer zoom a1soir-text-colored",
                title: "Eshop" %>
        </div>
        <div class="col text-end">
            <%= link_to "", "boutique", class:"fa-solid fa-shop btn-footer zoom a1soir-text-colored",
                title: "Boutique" %>
        </div>
        <div class="col text-end">
          <%= link_to "", "infos", class:"fa fa-circle-info btn-footer zoom a1soir-text-colored" %> 
        </div>
        <div class="col text-end">
          <%= link_to "", "/accueil_admin", class:"fa fa-user-lock btn-sm btn-footer bg-warning zoom" %>
        </div>
    </div>
</div>