
	<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light p-2">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

		<div class="collapse navbar-collapse"></div>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav mr-auto justify-content-center">
					<li class="nav-item active border-md-right">
            <%= link_to('robes_soirees', class:"nav-link navlink zoom-mini") do %>
              Robes de soirées 
            <% end %>
					</li>
					<li class="nav-item border-md-right">
            <%= link_to('robes_mariees', class:"nav-link navlink zoom-mini") do %>
                Robes de mariées 
            <% end %>
					</li>
					<li class="nav-item border-md-right">
            <%= link_to('costumes_hommes', class:"nav-link navlink zoom-mini") do %>
                Costumes hommes 
            <% end %>
					</li>
					<li class="nav-item border-md-right">
            <%= link_to('accessoires', class:"nav-link navlink zoom-mini") do %>
                Accessoires 
            <% end %>
					</li>
					<li class="nav-item">
            <%= link_to('costumes_deguisements', class:"nav-link navlink zoom-mini") do %>
                Costumes & Déguisements
            <% end %>
					</li>
				</ul>
			</div>

	</nav>
