<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div class="">
      <h2 class="text-danger"><%= pluralize(client.errors.count, "erreur") %> 
        empêche ce client d'être enregistré:</h2>
      <ul>
        <% client.errors.each do |error| %>
          <li class="text-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body bloc-record">
      
      <div class="input-group mb-1">
         <%= form.label :prenom, class:"input-group-text label-with-format" %>
        <%= form.text_field :prenom, class:"form-control field-with-format" %>
        <%= form.label :nom, class:"input-group-text label-with-format" %>
        <%= form.text_field :nom, required: true, class:"form-control field-with-format" %>
      </div>

          <div class="input-group mb-1 me-1">
            <%= form.label :type, class:"input-group-text label-with-format" %>
            <%= form.select(:typepropart, Client.typeproparts.keys, {include_blank: false},
                class:"form-select field-with-format") %> 

            <%= form.label :intitule, class:"input-group-text label-with-format" %>
            <%= form.select(:intitule, Client.intitules.keys,{include_blank: true},
                class:"form-select field-with-format") %> 
          </div>


      <%# pour personne contact client pro %>
      <div class="input-group mb-1">
        <%= form.label :contact, class:"input-group-text label-with-format" %>
        <%= form.text_field :contact, class:"form-control field-with-format" %>
      </div>


      <div class="input-group mt-3 mb-1">
        <div class="input-group addon">
          <span class="input-group-addon label-with-icon input-group-text">
            <i class="fa fa-square-phone"></i>
          </span>
          <%= form.text_field :tel, required: false, class:"form-control field-with-format" %>
          <span class="input-group-addon label-with-icon input-group-text">
            <i class="fa fa-square-phone"></i>
          </span>
          <%= form.text_field :tel2, class:"form-control field-with-format" %>
        </div>
      </div>
  
      <div class="input-group mt-0 mb-1">
        <div class="input-group addon">
          <span class="input-group-addon label-with-icon input-group-text">
            <i class="fa fa-at"></i>
          </span>
          <%= form.text_field :mail, required: false, class:"form-control field-with-format" %>
          <span class="input-group-addon label-with-icon input-group-text">
            <i class="fa fa-at"></i>
          </span>
          <%= form.text_field :mail2, class:"form-control field-with-format" %>
        </div>
      </div>

      <div class="input-group mt-3 mb-1">
        <%= form.label :adresse, class:"input-group-text label-with-format" %>
        <%= form.text_field :adresse, class:"form-control field-with-format" %>
      </div>

      <div class="input-group mb-1">
        <%= form.label :ville, class:"input-group-text label-with-format" %>
        <%= form.text_field :ville, class:"form-control field-with-format" %>
        <%= form.label 'Code Postal', class:"input-group-text label-with-format" %>
        <%= form.text_field :cp, class:"form-control field-with-format" %>
      </div>

      <div class="input-group mb-1">
        <%= form.label :pays, class:"input-group-text label-with-format" %>
        <%= form.text_field :pays, class:"form-control field-with-format" %>
      </div>

      <div class="input-group mt-3">
        <%= form.label :commentaires, class:"input-group-text label-with-format-large" %>
        <%= form.text_area :commentaires, class:"form-control field-with-format-large" %>
      </div>
     
      <div class="float-end mt-2 mb-4">
        <%= link_to "Fermer", "", data:{turbo_frame: "modal"}, 
            class:"btn btn-sm btn-secondary" %>

       <%#= link_to "Fermer", "#", data: { turbo_frame: "modal", controller: "close-modal", action: "click->close-modal#hideModal" } %>

        <%= form.submit "Valider", class: "btn btn-success btn-sm", data: { turbo: false } %>
      </div><br><br>

  </div>

<% end %>