
<%# ajouter un expand pour faire l'import si le btn est cliqué %>
  <div data-controller="dropdown">

<%= search_form_for @q, class:'d-flex', data: {turbo_frame: :results} do |f| %>
    <%#= f.label :nom_or_prenom_or_mail_cont %>
    <%= f.search_field :nom_or_prenom_or_mail_cont, 
                        oninput: 'this.form.requestSubmit()',
                        autofocus: true, 
                        autocomplete: 'off',
                        class: "form-control border-secondary form-control-sm mx-2 my-1" %>
    <%#= f.submit %>
    <%= link_to "Nouveau", new_client_path, data:{turbo_frame: "modal"}, 
                class:"btn btn-sm btn-warning m-1 p-1 fw-bold" %>

    <div role="button" data-action="click->dropdown#openDropdown" 
        data-dropdown-target="openButton", class="fa-solid fa-file-import btn btn-outline-primary btn-action">
    </div>
    <div role="button" data-action="click->dropdown#closeDropdown" 
        data-dropdown-target="closeButton", class="fa-solid fa-file-import btn btn-outline-primary btn-action">
    </div>
          



<% end %>

    <div data-dropdown-target="dropdownContent">
        <%= form_with url: import_clients_path, method: :post do |form| %>
            <%= form.file_field :file, accept: ".csv" %> 
            <%= form.button "import" %>
        <% end %>
    </div>

    
</div>