
<%= form_with(model: texte) do |form| %>
  <% if texte.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(texte.errors.count, "error") %> prohibited this texte from being saved:</h2>

      <ul>
        <% texte.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="bloc-record">
    <%= form.label :content, class:"input-group-text bg-dark text-light fw-bold label-with-format mb-2" %>
    <%= form.rich_text_area :content, class:"bg-light" %>
  </div>

  <div class="bloc-record">
    <%= form.label :contact, class:"input-group-text bg-dark text-light fw-bold  label-with-format mb-2" %>
    <%= form.rich_text_area :contact, class:"bg-light" %>
  </div>

  <div class="bloc-record">
    <%= form.label :horaire, class:"input-group-text bg-dark text-light fw-bold  label-with-format mb-2" %>
    <%= form.rich_text_area :horaire, class:"bg-light" %>
  </div>

  <div class="bloc-record">
    <%= form.label :boutique, class:"input-group-text bg-dark text-light fw-bold label-with-format mb-2" %>
    <%= form.rich_text_area :boutique, class:"bg-light" %>
  </div>

  <div class="bloc-record">
    <%= form.label :adresse, class:"input-group-text bg-dark text-light fw-bold label-with-format mb-2" %>
    <%= form.rich_text_area :adresse, class:"bg-light" %>
  </div>

    <div class="text-end mt-2">
      <%= button_tag( :class => "btn btn-validate") do %>
        <i class="fa-regular fa-thumbs-up fa-bounce"></i>
      <% end %>
    </div>
    <hr>

<% end %>
