
<% if user_signed_in? %>
  <% if current_user.admin? %>

  <div class="cadre-index mx-auto">
    <div class="bloc-entete-model">
      <div class="card card-header entete-index">
        <div class="row m-0 p-0">
          <div class="col text-center">
            <strong>TEXTES</strong> 
          </div>
        </div>
      </div> 
    </div>
    <div class="bloc-record text-center fw-bold">
      <p>
        Renseignez ici les textes qui s'affichent dans les différentes rubriques du site public
      </p>
    </div>
        
    <div class="">
      <%= turbo_frame_tag :modal %>
    </div>
      
    <div class="list-records-item">
      <div id="labels">
        <%= render @textes %>
      </div>
    </div> 

    <% if @textes.count <= 0 %>
      <%= link_to "Nouveau", new_texte_path, data:{turbo_frame: "modal"}, 
                  class:"btn btn-sm btn-warning fw-bold m-1 p-1" %>
    <% end %>

  </div>

  <div class="fixed-bottom footer-index text-center bg-dark">
    <div class="row justify-content-evenly">
      <div class="col-4 text-start">
        <%= link_to "", textes_path, class:"fa-solid fa-rotate-left btn btn-sm btn-secondary" %> 
      </div>
      <div class="col-4 text-center">
        <div class="badge bg-dark">
          <%#== pagy_nav(@pagy) %>
        </div>
      </div>
      <div class="col-4 text-end">
        <%= link_to "", textes_path, class:"fa-solid fa-file-export btn btn-sm btn-primary" %> 
      </div>
    </div>
  </div>
  <% end %>

  <% end %>