
<%= form_with(model: sousarticle) do |form| %>
  <% if sousarticle.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sousarticle.errors.count, "error") %> prohibited this sousarticle from being saved:</h2>

      <ul>
        <% sousarticle.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div>
      <% form.label :article_id, style: "display: block" %>
      <% if sousarticle.persisted? %>
        <%= form.hidden_field :article_id %>
      <% else %>
        <%= form.hidden_field :article_id, value: @articleId %>
      <% end %>
    </div>

    <div>
      <% form.label :produit_id, style: "display: block" %>
      <%#= form.select :article_id, Article.all.collect { |a| [ a.id, a.id ] },  include_blank: true %>
      <%= form.hidden_field(:produit_id, value: @produitId) %>
    </div>

    <%# if @produitId.present? %> 
      
      <div class="bloc-entete-model">
        <div class="card-body p-1">
          <div class="row p-0 m-0">
            <div class="col cadre-interieur">
              <%= render "selection_produit/produitLie" %> <br>
            </div>
            <div class="col cadre-interieur"> 
              <div data-controller="form-element">
                <%= form.button "Validate", formaction: new_sousarticle_path(commandeId: @commandeId, produitId: @produitId, 
                articleId: @articleId), formmethod: :get, data: { turbo_frame: :total_field, form_element_target: "submitbtn" } %> 
      
                <div class="input-group input-group-sm mb-2 justify-content-center">
                    <%= form.label :prix, class:"input-group-text bg-secondary text-light label-sized" %>

                     <% if sousarticle.persisted? %>
                        <%= form.number_field :prix_sousarticle, class:"form-control text-center input-sized" %>
                     <% else %>
                      <%= form.number_field :prix_sousarticle, { data: { action: "change->form-element#remotesubmit"}, 
                          value: @valPrix, class:"form-control text-center input-sized"} %>
                     <% end %>
                </div>

                <div class="input-group input-group-sm mb-2 justify-content-center">
                  <%= form.label :commentaire, class:"input-group-text bg-primary text-light label-sized" %>
                  <%= form.text_area :commentaire, class:"form-control text-dark input-sized" %>
                </div>


              </div>

      <%# end %>
                
                    <%= turbo_frame_tag :total_field do %>
                      <%# valQuantite = form.object.quantite %>
                      <% valPrix = form.object.prix_sousarticle.to_d %>
                      <% produitId = form.object.produit_id %>
                      <%# typeLocVente = form.object.locvente %>



                         <%# if @produitId.present? %> 
                          <div class="input-group input-group-sm mb-1 justify-content-center">
                            <%#= form.label :total, class:"input-group-text bg-dark text-light label-sized" %>

                              <%# if sousarticle.persisted? %>
                                <%#= form.number_field :total, class:"form-control bg-dark text-white text-center input-sized" %>
                              <%# else %>
                                <%#= form.number_field :total, value:  valPrix, class:"form-control bg-dark text-white text-center input-sized" %>
                              <%# end %>
                          
                          </div> 

                            
                          <div class="text-center text-bottom p-2 me-3">
                          
                              <%= link_to 'Annuler', new_sousarticle_path(commandeId: @commandeId), class:"btn btn-outline-danger btn-sm" %>
                              <%= form.submit "Créer", class: 'btn btn-sm btn-success' %>

                          </div>
                        <%# end %>  
                   
                    <% end %>

                </div>
            </div>
        </div> 

    </div>

  <% end %>


