
<%= render "shared/dateFilter" %>

<div class="bloc-record">
  <div class="cadre-interieur">

    <strong> Statistiques </strong> <br>
  
    nombre : <%= @nbProduits %> <br>
    valeur : <%= @valProduits %> <br>
    premier achat : <%= @premierAchat.dateachat.strftime("%d/%m/%y") if @premierAchat.dateachat.present? %> <br>
    dernier achat : <%= @dernierAchat.dateachat.strftime("%d/%m/%y") if @dernierAchat.dateachat.present? %> <br>

  </div>

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 m-0 p-1">
        <%= render "charts/chartPieFournisseur" %>
        </div>
        <div class="col-md-4 m-0 p-1">
        <%= render "charts/chartBarFournisseur" %>
        </div>
        <div class="col-md-4 m-0 p-1">
        <%= render "charts/chartLineFournisseur" %>
        </div>
    </div>
  </div>
</div>
