
<div class="card bloc-dashboard bloc-large">

    <div class="header-bloc-dashboard p-2"> 
      <div class="row align-items-center m-0 p-0">
        <div class="col-2 m-0 p-0">
          <i class="fa iconcolor fa-gear ms-1"></i>
        </div>
        <div class="col-8 m-0 p-0 text-light text-center fw-bold">
          FONCTIONS SUPPLEMENTAIRES 
        </div>
        <div class="col-2 m-0 p-0">
        </div>
      </div>
    </div>
    
    <div class="centered m-2 p-2">

<%
=begin%>
       <%= link_to(users_path, class:"btn btn-primary btns-bloc-dashboard") do %>
        <i class="fa fa-user-circle"></i>
        <span class="btns-texte-bloc-dashboard"> 
          Comptes 
        </span>
      <% end %> 
<%
=end%>
              
      <%= link_to(profiles_path, class:"btn btn-dark btns-bloc-dashboard") do %>
        <i class="fa fa-user-gear"></i>
        <span class="btns-texte-bloc-dashboard"> 
          Profiles 
        </span>
      <% end %>
    
      <%= link_to(marketing_path, class:"btn btn-warning btns-bloc-dashboard") do %>
        <i class="fa fa-bullhorn"></i>
        <span class="btns-texte-bloc-dashboard"> 
          Marketing 
        </span>
      <% end %>

      <%= link_to(analyses_path, class:"btn btn-success btns-bloc-dashboard") do %>
        <i class="fa fa-chart-line"></i>
        <span class="btns-texte-bloc-dashboard"> 
          Analyses 
        </span>
      <% end %>

      <%= link_to(stock_path, class:"btn btn-danger btns-bloc-dashboard") do %>
        <i class="fa fa-box-open"></i>
        <span class="btns-texte-bloc-dashboard"> 
          Stocks 
        </span>
      <% end %>

      <%= link_to(ensembles_path, class:"btn btn-primary btns-bloc-dashboard") do %>
        <i class="fa fa-cubes"></i>
        <span class="btns-texte-bloc-dashboard"> 
          Gestion des Ensembles 
        </span>
      <% end %>
      
      <%= link_to(root_path, class:"btn btn-secondary btns-bloc-dashboard") do %>
        <i class="fa fa-globe"></i>
        <span class="btns-texte-bloc-dashboard"> 
          Site Public 
        </span>
      <% end %>

      <%= link_to(root_path, class:"btn btn-dark btns-bloc-dashboard") do %>
        <i class="fa fa-cart-shopping"></i>
        <span class="btns-texte-bloc-dashboard"> 
          Site Marchand 
        </span>
      <% end %>


    </div>
    
</div>


<br><br>


