

<% if current_user.admin? %>

  <div class="cadre-index-large mx-auto">

  <div class="bloc-entete-model">
    <div class="card card-header entete-index text-center">
      <strong>Analyses</strong> 
    </div> 
  </div>

  <div class="bloc-record p-2">
    <div class="card-body text-dark">

      filtre dates:

      <%= form_tag url_for, method: :get do %>

        <%= label_tag :début, "début" %>
        <%= date_field_tag :debut, params[:debut] %>

        <%= label_tag :fin, "fin" %>
        <%= date_field_tag :fin, params[:fin] %>

        <%= submit_tag "Go" %>
      <% end %>

    </div>
  </div>
      
  <div class="bloc-record p-2">
    <div class="card-body text-dark">
      <h5 class="m-0 p-2">Commandes</h5> 
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 m-0 p-0">
                <%= render "charts/chartPieCommandes" %>
          </div>
          <div class="col-md-4 m-0 p-0">
                <%= render "charts/chartBarCommandes" %>
          </div>
          <div class="col-md-4 m-0 p-0">
                <%= render "charts/chartLineCommandes" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bloc-record p-2 px-1">
    <div class="card-body text-dark">
      <h5 class="m-0 p-2">Articles</h5> 
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 m-0 p-0">
            <%= render "charts/chartPieArticles" %>
          </div>
          <div class="col-md-4 m-0 p-0">
                <%= render "charts/chartBarArticles" %>
          </div>
          <div class="col-md-4 m-0 p-0">
                <%= render "charts/chartLineArticles" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bloc-record p-2">
    <div class="card-body text-dark">
      <h5 class="m-0 p-2">CA</h5> 
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 p-0 m-0">
                <%= render "charts/chartPieCa" %>
          </div>
          <div class="col-md-4 p-0 m-0">
                <%= render "charts/chartBarCa" %>
          </div>
          <div class="col-md-4 p-0 m-0">
                <%= render "charts/chartLineCa" %>
          </div>
        </div>
      </div>

    </div>
  </div>

  </div>

  <br><br>

  <div class="fixed-bottom footer-index text-center bg-dark">
      footer
  </div>


<% else %>
  <%= render "demandeConnexion" %>

<% end %>

