<%# test import csv %>
<%= form_with url: import_posts_path, method: :post do |form| %>
  <%= form.file_field :file %> 
  <%= form.button "import" %>
<% end %>
<hr>


<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Afficher", post, class:"btn btn-primary" %>
      <%#= link_to "PDF", post_path(post, format: :pdf), class:"btn btn-warning" %>
    </p>
  <% end %>
</div>

<hr>  

<%= link_to "Nouveau", new_post_path, data:{turbo_frame: "modal"}, class:"btn btn-warning" %>
<%#= link_to "posts PDF", posts_path(format: :pdf), class:"btn btn-warning" %>

<%= link_to "New multiple posts", new_multiple_posts_path, class:"btn btn-success" %>
