
<%= form_with(model: paiement) do |form| %>
  <% if paiement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(paiement.errors.count, "error") %> 
              prohibited this paiement from being saved:</h2>
      <ul>
        <% paiement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-body bloc-record">
      <div class="input-group mb-0">
        <%#= form.label :commande_id, class:"input-group-text bg-secondary text-light", style:"width: 100px;"%>
        <%= form.hidden_field :commande_id, value: session[:commandeId], class:"form-control" %> 
      </div>
      <div class="input-group mb-1">
        <%= form.label :type, class:"input-group-text label-with-format" %>
        <%= form.select:typepaiement, Paiement.typePaiements.keys, {include_blank: true}, 
        {required: true, class:"form-select field-with-format"} %> 
         
      </div>
      <div class="input-group mb-1">
        <%= form.label :Nature, class:"input-group-text label-with-format" %>
        <%= form.select:moyenpaiement, Paiement.moyenPaiements.keys, 
        {include_blank: true}, {class:"form-select field-with-format"} %> 
      </div>
      <div class="input-group mb-1">
        <%= form.label :montant, class:"input-group-text label-with-format" %>
        <%= form.text_field :montant, required: true, class:"form-control field-with-format" %>
      </div>
      <div class="input-group mb-1">
        <%= form.label :commentaire, class:"input-group-text label-with-format" %>
        <%= form.text_field :commentaire, class:"form-control field-with-format" %>
      </div>
      
  <div class="text-end mt-2">
      <%= form.submit "Créer", class: 'btn btn-sm btn-success' %> 
  </div>

</div>

<% end %>