<div id="<%= dom_id paiement %>">
  <div class="bloc-record">
    <div class="row">
      
      <div class="col-11">
        <div class="badge-infos">
          <% if paiement.typepaiement == "Prix" %>
            <span class="text-dark fw-bold">
              <%= paiement.typepaiement %>  
            </span>
          <% else %>
            <span class="text-primary fw-bold">
              <%= paiement.typepaiement %>  
            </span>
          <% end %>
          
          <%= number_to_currency(paiement.montant, locale: :fr) %> 
          <%= paiement.moyenpaiement %>   
          <%= paiement.commentaire %>  
          <%= paiement.created_at.strftime("%d/%m/%y") %>
        </div>
      </div>
    
      <div class="col-1 m-0 p-0 text-center">
                  <%= button_to "", edit_paiement_path(paiement), 
                      class:"fa-regular fa-pen-to-square btn btn-sm btn-secondary", method: :post %> 

                  <%= button_to '', paiement_path(paiement), 
                      class:"fa-solid fa-trash-can btn btn-danger btn-sm", method: :delete %> 

      </div>
      

    </div>
  </div>
</div>
